:root {
  --colorPrimary: rgb(88, 94, 113);
  --colorSplash: rgb(0, 88, 100);
  --colorTextBody: rgb(35, 31, 32);
  --colorBlack: #2c2c2c;
  --colorWhite: #fff;
  --colorWhiteGrey: #f2f2f2;
  --colorLtBlue: #adc8cf;
  --colorWhiteBlue: #e6ebee;
  --colorGreen: #50bc45;
  --colorRed: #982727;
  --colorDarkRed: #791b23;
  --colorLink: rgb(88, 94, 113);
  --colorLinkHover: #a7acbb;
  --colorBody: rgb(255, 255, 255);
  --colorBgDark: rgb(46, 52, 56);
  --colorBgLight: rgb(238, 238, 238);
  --colorBorder: rgb(221, 221, 221);
  --colorBorderSafe: #797e8d;
  --colorInfoBg: rgb(44, 44, 44);
  --colorInfoText: rgb(255, 255, 255);
  --colorNav: rgb(230, 230, 230);
  --colorHeaderDropdownBg: rgb(255, 255, 255);
  --colorNavText: rgb(44, 44, 44);
  --colorNavBorder: var(--colorInfoBg);
  --colorFooterBg: rgb(0, 88, 100);
  --colorFooterText: rgb(255, 255, 255);
  --colorFooterSocial: rgb(255, 255, 255);
  --colorHomeDark: var(--colorBgDark);
  --colorHomeLight: var(--colorBgLight);
  --colorProductBg: rgb(255, 255, 255);
  --colorProductArrows: rgb(204, 204, 204);
  --colorBtnPrimary: rgb(88, 94, 113);
  --colorBtnPrimaryHover: #424654;
  --colorBtnPrimaryActive: #4d5263;
  --colorBtnPrimaryText: rgb(255, 255, 255);
  --colorBtnSecondary: rgb(255, 255, 255);
  --colorBtnSecondaryHover: #008597;
  --colorBtnSecondaryActive: #006e7e;
  --colorBtnSecondaryText: rgb(35, 31, 32);
  --disabledGreyText: #7c7c7c;
  --disabledGreyBg: #dedede;
  --errorRed: #d02e2e;
  --errorRedBg: #fff6f6;
  --successGreen: #56ad6a;
  --ecfef0: #ecfef0;
  --transparent: rgba(255, 255, 255, 0);
  --radius: 2px;
  --bodyFontAdjust: 1;
  --titleFontAdjust: 1;
  --accentFontAdjust: 0.8;
  --titleTextTransform: capitalize;
}

/*================ Typography ================*/
@font-face {
  font-family: "Conv_NoirPro";
  font-display: swap;
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Regular.eot?v=157153256894667111461686337010);
  src: local("Conv_NoirPro"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Regular.woff?v=135408531109649847501686337018)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Regular.ttf?v=57564163038751256801686337006)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Regular.svg?v=61920415850599083321686337012)
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_NoirPro";
  font-display: swap;
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBold.eot?v=180732443353315083411686337011);
  src: local("Conv_NoirPro"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBold.woff?v=149528258618838077011686337012)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBold.ttf?v=155176094584253501081686337011)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBold.svg?v=46908851778522312271686337012)
      format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Conv_NoirPro";
  font-display: swap;
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBoldItalic.eot?v=38714516465367458901686337011);
  src: local("Conv_NoirPro"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBoldItalic.woff?v=119925523308344258621686337011)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBoldItalic.ttf?v=39234538724087939941686337014)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-SemiBoldItalic.svg?v=2558522209308710501686337015)
      format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Conv_NoirPro";
  font-display: swap;
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Italic.eot?v=82014782248138000451686337011);
  src: local("Conv_Metropolis"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Italic.woff?v=73963255481465481021686337014)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Italic.ttf?v=75108536622362606901686337011)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/font-NoirPro-Italic.svg?193754)
      format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Light.eot?v=34840475210784830391686337015);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Light.woff?v=153224870580084125001686337013)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Light.ttf?v=62214787957130820981686337014)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Light.svg?v=10227956535209970961686337010)
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-LightItalic.eot?v=115436849803057237481686337023);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-LightItalic.woff?v=151999140782892657601686337012)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-LightItalic.ttf?v=90148803116788929811686337013)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-LightItalic.svg?v=75998992712452283371686337010)
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Medium.eot?v=162650550669283361811686337010);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Medium.eot?v=162650550669283361811686337010)
      format("embedded-opentype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Medium.woff?v=76121031821471048061686337013)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Medium.ttf?v=159717774479239784491686337014)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Medium.svg?v=151347365638374469081686337023)
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Bold.eot?v=158056002730768487921686337011);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Bold.woff?v=176977341769498034161686337015)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Bold.ttf?v=143920344405122685711686337014)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Bold.svg?v=29257986492255916151686337011)
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Italic.eot?v=12972031831665274901686337013);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Italic.woff?v=121315766758395528071686337011)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Italic.ttf?v=130758628473868328081686337011)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-Italic.svg?v=14888794494806136621686337013)
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-BoldItalic.eot?v=150801831513643783721686337011);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-BoldItalic.woff?v=27734585447987047201686337015)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-BoldItalic.ttf?v=81113155507495337321686337006)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-BoldItalic.svg?v=53541103278186391321686337010)
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-MediumItalic.eot?v=63418854736625486761686337014);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-MediumItalic.woff?v=96844673785813667561686337014)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-MediumItalic.ttf?v=92600661106015247921686337006)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono-MediumItalic.svg?v=22652356564048411091686337015)
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Simplon_Mono";
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono.eot?v=68848248074763452691686337010);
  src: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono.woff?v=174012934024657885391686337022)
      format("woff"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono.ttf?v=11250826457904480101686337012)
      format("truetype"),
    url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/746/assets/SimplonMono.svg?v=9014808446752478681686337010)
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.link--wave.color--splash:after,
.link--green.link--wave:after,
.link--wave.ShoeSizeMe:after,
hr.hr--wave,
.cart__qty .js-qty {
  background-image: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/wave-link.svg?v=37089824519209211131685641547);
}

.link--wave:after,
.site-footer .newsletter-form:after {
  background-image: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/wave-white.svg?v=128506137615822152191685641548);
}

.section-landing-page-v2.mystery-ticket .wave-border {
  background-image: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/wave-border.jpg?v=168145319868536250271685641545);
}

.section-profile-cards .blog__article__content.front_details {
  background-image: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/wave-card.png?v=102894577503477080811685641545);
}

.bg--wave__graphic,
.bg--wave--white .bg--wave__graphic {
  background: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/bg-wave-white.svg?v=86900088569760930331685641465)
    repeat-x;
}

.bg--wave--light .bg--wave__graphic {
  background: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/bg-wave-light.svg?v=150278135003901209111685641465)
    repeat-x;
}

.bg--wave--blue .bg--wave__graphic {
  background: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/bg-wave-blue.svg?v=175741667679231432601685641464)
    repeat-x;
}

.bg--wave--light--blue .bg--wave__graphic {
  background: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/bg-wave-light-blue.svg?v=25976505648304314581685641464)
    repeat-x;
}

select {
  background-image: url("//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/ico-select.svg?v=101890308407370522741685641442");
}

[data-currency-selector] .nice-select > .current[data-value="AUD"]:after,
[data-currency-selector] .nice-select > .current[data-value="CAD"]:after,
[data-currency-selector] .nice-select > .current[data-value="JPY"]:after,
[data-currency-selector] .nice-select > .current[data-value="NZD"]:after,
[data-currency-selector] .nice-select > .current[data-value="SGD"]:after,
[data-currency-selector] .nice-select > .current[data-value="KRW"]:after,
[data-currency-selector] .nice-select > .current[data-value="TWD"]:after,
[data-currency-selector] .nice-select > .current[data-value="USD"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="AUD"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="CAD"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="JPY"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="NZD"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="SGD"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="KRW"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="TWD"]:after,
[data-currency-selector] .nice-select > .list > li[data-value="USD"]:after {
  background-image: url(//cdn.shopify.com/s/files/1/0046/5069/6817/t/740/assets/flags_400x.jpg?v=176274275976172583901685641491);
}


